body {
  /* Full screen width and height */
  width: 100%;
  min-height: 100vh;

  /* Centers the container in the middle of the screen */
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  background-color: #1D2226;
}

#logo-container {
  position:relative;
  width: 198px;
  height: 198px;

}
.nested-logo {
  position:absolute;
  left: 0;
  right:0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
.icon {
  width: 48px;
  height: 48px;

  -webkit-mask: url(thread-small.svg);
  -webkit-mask-size: cover;
   background-color: red;
}

#big-logo {
  width: 198px;
  height: 198px;
  z-index: 1;
  -webkit-mask: url(thread-big.svg);
  -webkit-mask-size: cover;
  background-color: #2196F3;
}

#normal-logo {
  width: 74px;
  height: 74px;
  z-index: 3;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-mask: url(thread-normal.svg);
  -webkit-mask-size: cover;
  background-color: #2196F3;
}

#small-logo {
  width: 30px;
  height: 30px;
  z-index: 5;
  -webkit-mask: url(thread-small.svg);
  -webkit-mask-size: cover;
  background-color: #2196F3;
}
