body {

    color: #fff;
    font-size: 1em;
    font-family: Arial;
}

#head {
    position: fixed;
    background-color: #ffffff;
    border-bottom: 1px solid #e2e2e2;
    left: 0em;
    right: 0em;
    top: 0;
    z-index: 1;
}

#container {
    background: #fff;
    position: absolute;
    left: 0px;
    top: 3.3em;
    right: 0px;
    bottom: 0px;
}

#container > div {
    position: absolute;
}

#title {
    top: 0;
    left: 0;
}
h1 {
    padding: 0;
    margin: 0;
}
#messages {
    left: 0;
    top: 2.5em;
    right: 0;
    bottom: 2.5em;
    background-color: #fefefe;
    background-color: rgba(255,255,255,0.8);
    border: 1px inset #999;
    overflow-x: hidden;
    overflow-y: auto;
}

#messages > div {
    font-size: 1em;
    padding: 2px 4px;
    color: #000;
}
#messages > div.con {
    font-style: italic;
    color: #595959;
}
#messages > div.sys {
    font-style: italic;
    color: #C30C43;
}
#messages > div.anon {
    color: #1525C3;
    font-weight: bold;
}
#messages > div.server {
    color: #BE09BE;
    font-weight: bold;
}
#messages > #writing {
    font-style: italic;
    color: #595959;
}

#message {
    left: 0;
    bottom: 0;
    height: 2.4em;
    right: 100px;
    background-color: #fff;
    border: 1px inset #999;
}

#message > input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 4px 6px;
    margin: 0px;
}

#send {
    width: 100px;
    bottom: 0;
    right: 0;
    height: 2.5em;
}

#next {
    width: 100%;
    top: 0;
    right: 0;
    height: 2.5em;
}

#answer {
    width: 100%;
    top: 0;
    right: 0;
    height: 2.5em;
}

#answer > button {
    width: 49%;
    display: inline;
}

button {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
}

/*Menu*/
nav a, nav:before, nav div:before {
    display: inline-block;
    padding: 0.6em 0;
    color: #4a33de;
    text-align: center;
    cursor: pointer; /* курсор в виде руки, обязателен для Opera Mini */
    background: #d39f79; /* цвет фона кнопки "меню" */
    transition: .3s linear;
}

nav a {
    width: 20%; /* 4 пункта меню, то есть 100%/4 */
    float: right;
    background: #ffffff; /* фон пунктов меню */
    text-decoration: none;
}

nav a:hover {
    background: #30218f; /* фон пунктов при наведении */
    color: #ffffff;
}


@media (max-width: 1100px) {
    /* для экранов, меньше 800px, см про адаптивную вёрстку */
    nav a, nav:before, nav div:before {
        width: 100%; /* пункты меню растягиваются на всю ширину блока */
    }

    nav:before {
        content: "меню";
    }

    nav:focus:before {
        content: none;
    }

    nav:focus div:before {
        content: "свернуть меню";
    }

    nav:not(:focus) div:not(:active) { /* магия кнопки "меню", благодаря чему навигация скрывается/появляется по щелчку */
        display: none;
    }
}
